.AppWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 400px;
  height: auto;
  margin: 100px auto;
  border: 2px solid grey;
  padding: 10px;
  align-items: center;
  justify-content: center;
}