.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
  }
  
  .bulb {
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
  }
  
  .switch {
    margin-top: 100px;
    width: 100px;
    height: 50px;
  }